<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dailySpecialServiceBean"
          class="com.letstalkdata.iscream.service.DailySpecialService" />

    <bean id="dailySpecialPrinter"
          class="com.letstalkdata.iscream.DailySpecialPrinter">
        <property name="dailySpecialService" ref="dailySpecialServiceBean"/>
    </bean>
</beans>